@import './Variables.scss';

.error-message{
    color:red
}

.signup-text{
    cursor: pointer;
}
//  Responsive Media Queries
@media (max-width: $screen-mobile) {
    @include mobile;
    .main-container {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // background-color: orange;
        padding: 20px;
    }
    .form-container {
        flex:1;
        width: 100%;
        display: flex;
        flex-direction:column;
        // background-color: dodgerblue;
    }
}

@media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
    @include tablet;
    .main-container {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // background-color: blueviolet;
        padding: 20px;
    }
    .form-container {
        flex:1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        // background-color: olive;
    }
}

@media (min-width: $screen-large-tablet-min) and (max-width: $screen-large-tablet-max) {
    @include large-tablet;
    .main-container {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // background-color: brown;
        padding: 20px;
    }
    .form-container {
        flex:1;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        // background-color: olive;
    }
 
}

@media (min-width: $screen-desktop-min) and (max-width: $screen-desktop-max) {
    
    @include desktop;
    .main-container {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: tan;
        padding: 20px;
    }
    .form-container {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        // background-color: papayawhip;
        margin: 20px;
        border-radius: 20px;
        border:1px solid $secondary_grey;
    }

}

@media (min-width: $screen-large-desktop) {
    @include large-desktop;
    .main-container {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: green;
        padding: 20px;
    }
    .form-container {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        // background-color: yellow;
        margin: 20px;
        border-radius: 20px;
        border:1px solid $secondary_grey;
    }
}